build_win/
build_linux/
!build_linux/default.desktop
!build_linux/icon.png
jsons/trop*.json
jsons/hs/
jsons/*.json
doc/
__pycache__/
Python/
*.dll
*.exe
Qt/*
QtQuick/
QtWebEngine/
Qt3D/
QtCanvas3D/
QtQmlModels.2/
QtGraphicalEffects/
QtMultimedia/
QtWebView/
QtQuick.2/
audio/
bearer/
qmltooling/
scenegraph/
sceneparser/
renderplugins/
translations/
sqldrivers/
webview/
styles/
geometryloaders/
gamepads/
iconengines/
imageformats/
mediaservices/
playlistformats/
platforms/

